.hide {
  display : none;
}

.leaflet-popup-content {
  overflow-y : hidden;
}

.css-icon {



	}



	.marker_ring {

		border: 3px solid #fbd703;

		 -webkit-border-radius: 30px;

		 height: 18px;

		 width: 18px;

	    -webkit-animation: pulsate 1.5s ease-out;

	    -webkit-animation-iteration-count: infinite;

	    /*opacity: 0.0*/
      -webkit-animation-direction:reverse;

	}



	@-webkit-keyframes pulsate {

		    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}

		    50% {opacity: 1.0;}

		    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}

	}



.note-form {
  background-color : white;
  opacity : 0.7;
  border-radius : 4px;
  padding : 4px 4px 4px 4px;
}

.note-form textarea{
  resize : none;
  overflow-y: auto;
  font-family : 'fa';
}

.note-form .fa-check-circle{
  color : green;
  float : right;
  padding : 0 .25em 0 .25em;
}

.note-form .fa-times-circle{
  color : red;
  float : right;
  padding : 0 .25em 0 .25em;
}

.btn ~ hr {
  margin: 5px 2px 5px 2px;
}

.note-tooltip div{
  width: 200px;
  background-color : white;
  color : black;
  padding: 2em;
  position : absolute;
  font-family : 'fa';
  font-size : 1em;
}
.place-tooltip div{
  background-color : gray;
  color : white;
  position : absolute;
  font-family : 'fa';
  font-size : 1.5em;
}

/*
 * The path-start class is added to each line
 * to manage its animation - this interpolates
 * between the starting and ending values for the
 * stroke-dashoffset css property
 */
/*.path-start {
  -webkit-transition:stroke-dashoffset 5s ease-in;
     -moz-transition:stroke-dashoffset 5s ease-in;
       -o-transition:stroke-dashoffset 5s ease-in;
          transition:stroke-dashoffset 5s ease-in;
}*/
